<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>RequestRefundTest</td><td>RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]<br/></td></tr>
</table>
