<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>cart</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:19:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>PoolService-2@646289287</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:19:01</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>PoolService-2@646289287</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:19:01</td>   <td>402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>PoolService-2@646289287</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:19:01</td>   <td>798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>PoolService-2@646289287</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:19:01</td>   <td>880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>PoolService-2@646289287</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:18:25</td>   <td>-35928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>PoolService-4@229928276</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:18:25</td>   <td>-35928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>PoolService-4@229928276</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:18:25</td>   <td>-35928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>PoolService-4@229928276</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:18:25</td>   <td>-35928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>PoolService-4@229928276</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:18:25</td>   <td>-35927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>PoolService-4@229928276</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>17/09/25 13:18:21</td>   <td>-39236</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=sanityTest-1@1253627839</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>17/09/25 13:18:25</td>   <td>-35928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">test1</td> 
  <td>PoolService-4@229928276</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>17/09/25 13:18:25</td>   <td>-35928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">test1</td> 
  <td>PoolService-4@229928276</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>17/09/25 13:18:25</td>   <td>-35927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">test1</td> 
  <td>PoolService-4@229928276</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>17/09/25 13:18:25</td>   <td>-35926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">test1</td> 
  <td>PoolService-4@229928276</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>17/09/25 13:18:25</td>   <td>-35926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@7ff95560]">test1</td> 
  <td>PoolService-4@229928276</td>   <td></td> </tr>
</table>
