<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.paytm.refundAutomationSuite.WishList.GetWishListTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getWishListWithOutLogin</td>
<td>GetWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getWishListWithNullClient</td>
<td>GetWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getWishListWithNullSiteId</td>
<td>GetWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getWishList</td>
<td>GetWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getWishListWithInvalidSsoToken</td>
<td>GetWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getWishListWithInvalidVersion</td>
<td>GetWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getWishListofPayTmMallAfterAddingInPayTm</td>
<td>GetWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getWishListWithInvalidClient</td>
<td>GetWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getWishListWithNullVersion</td>
<td>GetWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getWishListWithInvalidSiteId</td>
<td>GetWishListTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.paytm.refundAutomationSuite.cartOperations.SetAddressAPITest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>itemAdditionCheckWithSetAddress</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setBlankAddress</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddressWithNullCartId</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddress</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddressWithOutSsoTokenAndCartId</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddressInvalidPinCode</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddressWithNullAddress</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddressNegativeCartId</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddresswithoutPin</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddressWithPinCodeandCountryMismatching</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddressWithOnlyPinCode</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddressWithOutSsoToken</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setAddressWithInvalidCartId</td>
<td>SetAddress Test </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.paytm.refundAutomationSuite.WishList.RemoveFromWishListTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeproductFromWishListfromPayTmMall</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductFromWishListWithInvalidSiteId</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductFromWishListwithInfiniteWishListCount</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductFromWishListwithZeroWishListCount</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeRedundantProductFromWishList</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeInvalidProductFromWishList</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductFromWishListWithInvalidVersion</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductFromWishList</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductFromWishListwithNullWishListCount</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductFromWishListWithInvalidClient</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductFromWishListWithOutLogin</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeNullProductFromWishList</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeDigitalProductfromWishList</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductFromWishListwithNegativeWishListCount</td>
<td>RemoveFromWishListTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.paytm.refundAutomationSuite.WishList.AddToWishListTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductToWishListOnTMall</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductToWishListwithNullWishListCount</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductToWishListwithNegativeWishListCount</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductToWishListWithInvalidClient</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductToWishlistwithNonIntWishListCount</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addNullProductToWishList</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductToWishListWithInvalidSiteId</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addInvalidProductToWishList</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductToWishListwithZeroWishListCount</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductToWishListWithOutLogin</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductToWishList</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addRedundantProductToWishList</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductToWishListWithInvalidVersion</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addDigitalProductInWIshList</td>
<td>AddToWishListTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.paytm.refundAutomationSuite.myOrder.GetOrderDetailAPITest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithInvalidVersion</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getDigitalOrderDetail</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailwithBlankOrderId</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithRedundantOrderId</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailwithInvalidOrderId</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithspecialCharacterinOrderId</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getPhysicalOrderDetail</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithNullSsoToken</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithBlankSsoToken</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithInvalidSiteId</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithInvalidSsoToken</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithInvalidCLient</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetail</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithExtraParameter</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithMultipleSsoToken</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getOrderDetailWithMultipleOrderId</td>
<td>OrderDetailApiTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithDigitalProductId</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutAfterAddingNegativeProductId</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithInfiniteCartItems</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckOutWhenProductNotAvailable</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithNoIteminCart</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithPinAndStateMismatch</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutofDigitalProductWithOutAddress</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithoutSettingAddress</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithPromoCode</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithOnlyPin</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithRedundantItems</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>simpleCheckout</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithNonServicableAddress</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutAfterAddingInvalidProductId</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.paytm.refundAutomationSuite.cartOperations.RemoveProductApiTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeInvalidItemfromEmptyCart</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeItemfromCartHavingNegativePrice</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeItemfromCartHavingHavingZeroPrice</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductfromCart</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeItemfromInvalidCart</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeItemfromBlankCart</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>RemoveProductWithoutLoginInCart</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeNegativeItemfromCart</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductWithInvalidSsoTokenfromCart</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeInvalidItemfromFilledCart</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeProductWithBlankSsoTokenfromCart</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeItemfromCartHavingInfinitePrice</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeBlankItemfromCart</td>
<td>RemoveProduct </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.paytm.refundAutomationSuite.cartOperations.UpdateCartApiTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>increasingQuantity</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changingQuantityToZero</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changingQuantityWithoutAddingProduct</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>increasingQuantityMoreThanPermissibleLimit</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changingQuantityWithInvalidCart</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changingQuantityOfInvalidProductWithoutAdding</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changingQuantityWithNotNullConfiguration</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changingQuantityWithoutLogin</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>increasingQuantityToHundred</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changingQuantityToNegative</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changingQuantityWithInvalidCartWithoutLogin</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>decreasingQuantity</td>
<td>UpdateCartApiTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AccessCartWithoutLogin</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>applyPromo</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addNegativeQuantityProductInCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addNegativeProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addDummyProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getSSoToken</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductinBlankCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductWithoutLoginInCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addZeroQuantityProductInCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductInInvalidCartHavingNoAuthentication</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cancelPromo</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addAlreadyAddedProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addIndefiniteProductInCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductHavingNegativePriceinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>demo</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addBlankProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductHavingInfinitePriceinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addNullProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductinCartWIthConfigurationPrice</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductinInvalidCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removingRandomProduct</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductinCartWIthOutConfigurationPrice</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.paytm.refundAutomationSuite.cartCheckOut.ExpressVerifyApiTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>simpleVerify</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPhysicalProduct</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithoutProductId</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithAddress</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithAddressWithOutAddressLine</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyWithNegativeQuantity</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyInvalidChannel</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyWithInfiniteQuantity</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyWithblankConfiguration</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyWithInvalidConfigurationPrice</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithChildSiteId</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyWithInvalidProductId</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyWithmissingQuantity</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyWithZeroQuantity</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithOutLogin</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithInvalidUtmSource</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithOutUtmSource</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithInvalidVersion</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithInvalidSiteId</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithAddressWithOutPinCode</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithPromoCode</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithInvalidClient</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyWithConfiguration</td>
<td>Verify Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithPromoCodeWithOutSsoToken</td>
<td>Verify Test </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.paytm.refundAutomationSuite.cartCheckOut.ExpressCheckOutAPITest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithConfigurations</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithInfiniteCartItems</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>simpleExpressCheckout</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithInfiniteQuantity</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithNegativeProductId</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithInvalidProductId</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithPromoCode</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithoutSettingAddress</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithNullPriceConfigurations</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithZeroQuantity</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithNullProductId</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithNegativePrice</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithPhysicalProductId</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithZeroCartItems</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithNullPrice</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithRedundantItems</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutofPhysicalProductWithAddress</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>expressCheckoutWithNegativeQuantity</td>
<td>ExpressCheckout Test </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
