<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>RequestRefundTest</td><td>RequestRefundTest.SimpleRequestRefund2()[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@3bd40a57]<br/>RequestRefundTest.SimpleRequestRefund5()[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@3bd40a57]<br/>RequestRefundTest.SimpleRequestRefund3()[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@3bd40a57]<br/>RequestRefundTest.SimpleRequestRefund1()[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@3bd40a57]<br/>RequestRefundTest.SimpleRequestRefund4()[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@3bd40a57]<br/></td></tr>
</table>
