<h2>Reporter output</h2><table><tr><td>[authClient] REQUEST : [POST https://persona-staging.paytm.com/oauth2/authorize?password=shipperstage&notredirect=true&submit=Secure%2BSign%2BIn&response_type=code&state=a1b2c3d4&client_secret=c9cb75ef59d967eb76b6200589a30835d3a6a230&client_id=shipper-staging&username=shippertest.fw%40paytm.com HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://persona-staging.paytm.com/oauth2/authorize?password=shipperstage&notredirect=true&submit=Secure%2BSign%2BIn&response_type=code&state=a1b2c3d4&client_secret=c9cb75ef59d967eb76b6200589a30835d3a6a230&client_id=shipper-staging&username=shippertest.fw%40paytm.com HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://persona-staging.paytm.com/oauth2/authorize?password=shipperstage&notredirect=true&submit=Secure%2BSign%2BIn&response_type=code&state=a1b2c3d4&client_secret=c9cb75ef59d967eb76b6200589a30835d3a6a230&client_id=shipper-staging&username=shippertest.fw%40paytm.com HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://persona-staging.paytm.com/oauth2/authorize?password=shipperstage&notredirect=true&submit=Secure%2BSign%2BIn&response_type=code&state=a1b2c3d4&client_secret=c9cb75ef59d967eb76b6200589a30835d3a6a230&client_id=shipper-staging&username=shippertest.fw%40paytm.com HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://persona-staging.paytm.com/oauth2/authorize?password=shipperstage&notredirect=true&submit=Secure%2BSign%2BIn&response_type=code&state=a1b2c3d4&client_secret=c9cb75ef59d967eb76b6200589a30835d3a6a230&client_id=shipper-staging&username=shippertest.fw%40paytm.com HTTP/1.1]</td></tr>
<tr><td>[authClient] RESPONSE : [{"code":"SG06kPAYSEKILopuhIfm6g","state":"a1b2c3d4"}
]</td></tr>
<tr><td>[authClient] RESPONSE : [{"code":"QigccmSaTM6xQdVibohNlg","state":"a1b2c3d4"}
]</td></tr>
<tr><td>[authClient] RESPONSE : [{"code":"lIzzZ7FBRKWj1zU4JoAlmg","state":"a1b2c3d4"}
]</td></tr>
<tr><td>[authClient] RESPONSE : [{"code":"eV210Q9LQtyhcJ_xA0fZfw","state":"a1b2c3d4"}
]</td></tr>
<tr><td>[authClient] RESPONSE : [{"code":"IKZpvZ5HS9CJNmVVHOFwmQ","state":"a1b2c3d4"}
]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://persona-staging.paytm.com/oauth2/token?code=lIzzZ7FBRKWj1zU4JoAlmg&grant_type=authorization_code&client_secret=c9cb75ef59d967eb76b6200589a30835d3a6a230&state=a1b2c3d4&client_id=shipper-staging HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://persona-staging.paytm.com/oauth2/token?code=SG06kPAYSEKILopuhIfm6g&grant_type=authorization_code&client_secret=c9cb75ef59d967eb76b6200589a30835d3a6a230&state=a1b2c3d4&client_id=shipper-staging HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://persona-staging.paytm.com/oauth2/token?code=QigccmSaTM6xQdVibohNlg&grant_type=authorization_code&client_secret=c9cb75ef59d967eb76b6200589a30835d3a6a230&state=a1b2c3d4&client_id=shipper-staging HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://persona-staging.paytm.com/oauth2/token?code=IKZpvZ5HS9CJNmVVHOFwmQ&grant_type=authorization_code&client_secret=c9cb75ef59d967eb76b6200589a30835d3a6a230&state=a1b2c3d4&client_id=shipper-staging HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://persona-staging.paytm.com/oauth2/token?code=eV210Q9LQtyhcJ_xA0fZfw&grant_type=authorization_code&client_secret=c9cb75ef59d967eb76b6200589a30835d3a6a230&state=a1b2c3d4&client_id=shipper-staging HTTP/1.1]</td></tr>
<tr><td>[authClient] RESPONSE : [{"access_token":"CMPTwrO4T0ylE3OStAYuzw","expires_in":172800,"refresh_token":"1KAQhtqVTHOYFym-RKsYkg","token_type":"bearer"}
]</td></tr>
<tr><td>[authClient] RESPONSE : [{"access_token":"WWgvtVuOTeKKb7uU31l1Dw","expires_in":172800,"refresh_token":"_yX83GEBTq2Xm4AGycEpTw","token_type":"bearer"}
]</td></tr>
<tr><td>[authClient] RESPONSE : [{"access_token":"fcgojFXOQCeq-QaImOWQxw","expires_in":172800,"refresh_token":"9y4Jv2DdROWedacm9GeIhA","token_type":"bearer"}
]</td></tr>
<tr><td>[authClient] RESPONSE : [{"access_token":"fP9PauAtRw2FB273vETZ4g","expires_in":172800,"refresh_token":"oYSeEBPXRz-28vpTvXJhlQ","token_type":"bearer"}
]</td></tr>
<tr><td>[authClient] RESPONSE : [{"access_token":"1ubNjmRaRqOdUgfb-z2klw","expires_in":172800,"refresh_token":"jzHCs4ykTW24k5ankwZOhw","token_type":"bearer"}
]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://accounts-staging.paytm.in/signin/otp HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://accounts-staging.paytm.in/signin/otp HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://accounts-staging.paytm.in/signin/otp HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://accounts-staging.paytm.in/signin/otp HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://accounts-staging.paytm.in/signin/otp HTTP/1.1]</td></tr>
<tr><td>[authClient] RESPONSE : [{"status":"FAILURE","responseCode":"465","message":"Invalid Email"}]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://accounts-staging.paytm.in/signin/validate/otp HTTP/1.1]</td></tr>
<tr><td>[authClient] RESPONSE : [{"status":"FAILURE","responseCode":"434","message":"Bad Request"}]</td></tr>
<tr><td>[authClient] RESPONSE : [{"status":"SUCCESS","message":"Otp sent to phone","responseCode":"01","state":"8f50b9d2-bda9-45a9-94c6-fc63b55dc3e0"}]</td></tr>
<tr><td>[authClient] RESPONSE : [{"status":"SUCCESS","message":"Otp sent to phone","responseCode":"01","state":"e6b634e9-9922-41fa-8a7a-a8ceca03f7f7"}]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://accounts-staging.paytm.in/signin/validate/otp HTTP/1.1]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://accounts-staging.paytm.in/signin/validate/otp HTTP/1.1]</td></tr>
<tr><td>[authClient] RESPONSE : [{"status":"SUCCESS","message":"Otp sent to phone","responseCode":"01","state":"3a751bfd-d15f-420b-a01b-c3913df7711d"}]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://accounts-staging.paytm.in/signin/validate/otp HTTP/1.1]</td></tr>
<tr><td>[authClient] RESPONSE : [{"status":"SUCCESS","message":"Otp sent to phone","responseCode":"01","state":"e0513461-f9b9-4d94-bced-7786ee698d29"}]</td></tr>
<tr><td>[authClient] REQUEST : [POST https://accounts-staging.paytm.in/signin/validate/otp HTTP/1.1]</td></tr>
<tr><td>[authClient] RESPONSE : [{"access_token":"5f2ce75f-c14e-41bf-9e7e-f8d936da2e0f","expires":"1527854021325","scope":"paytm","resourceOwnerId":"1107206245"}]</td></tr>
<tr><td>[authClient] RESPONSE : [{"access_token":"4449fa59-626c-45ce-a004-7f1bb5c46f31","expires":"1527854623715","scope":"paytm","resourceOwnerId":"1107206465"}]</td></tr>
<tr><td>[authClient] RESPONSE : [{"access_token":"b19274e4-4b8f-4582-99cf-694a9968b965","expires":"1527762830226","scope":"paytm","resourceOwnerId":"1107206065"}]</td></tr>
<tr><td>[authClient] RESPONSE : [{"access_token":"545ca229-8c3c-4743-b43d-feb537476b7b","expires":"1527854638127","scope":"paytm","resourceOwnerId":"1107206475"}]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/cart? HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"cart":{"cart_id":"ZWawYjMkNKn0Li0x.sKiL-eapNzHzGcWsCmydgg","site_id":1,"cart_items":[],"need_shipping":false,"count":0,"order_total":0,"final_price":0,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":0,"service_options":false,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":0,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/cart/ZWawYjMkNKn0Li0x.sKiL-eapNzHzGcWsCmydgg? HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"cart":{"cart_id":"ZWawYjMkNKn0Li0x.sKiL-eapNzHzGcWsCmydgg","site_id":1,"cart_items":[],"need_shipping":false,"count":0,"order_total":0,"final_price":0,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":0,"service_options":false,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":0,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZWawYjMkNKn0Li0x.sKiL-eapNzHzGcWsCmydgg?sso_token HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZWawYjMkNKn0Li0x.sKiL-eapNzHzGcWsCmydgg","site_id":1,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":4000,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"failure","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:53:59.785Z","need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288839767,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-22T10:53:59.785Z","2017-07-25T10:53:59.785Z"],"min_delivery_days":2,"max_delivery_days":5,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":4000,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":4000,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZWawYjMkNKn0Li0x.sKiL-eapNzHzGcWsCmydgg?sso_token HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"error":"In order to avail the benefits of this promotional / voucher code, please Login/Sign Up.","status":{"result":"failure","message":{"title":"Error","message":"In order to avail the benefits of this promotional / voucher code, please Login/Sign Up."}},"code":449,"errorCode":"PC_VL_4001","stack":["In order to avail the benefits of this promotional / voucher code, please Login/Sign Up.","    at Object.cartApi.applyPromo (/var/www/market-cart/releases/source/20170717113701/api/cart/index.js:267:15)","    at Object.promocode [as handle] (/var/www/market-cart/releases/source/20170717113701/routes/v1/mobile/cart.js:295:11)","    at next_layer (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/route.js:103:13)","    at /var/www/market-cart/releases/source/20170717113701/routes/v1/mobile/cart.js:330:5","    at /var/www/market-cart/releases/source/20170717113701/api/cart/shipping_client.js:157:5","    at finalise (/var/www/market-cart/releases/source/20170717113701/api/shipping/index.js:36:12)","    at /var/www/market-cart/releases/source/20170717113701/node_modules/async/dist/async.js:359:16","    at replenish (/var/www/market-cart/releases/source/20170717113701/node_modules/async/dist/async.js:876:25)","    at iterateeCallback (/var/www/market-cart/releases/source/20170717113701/node_modules/async/dist/async.js:866:17)","    at /var/www/market-cart/releases/source/20170717113701/node_modules/async/dist/async.js:843:16","    at /var/www/market-cart/releases/source/20170717113701/node_modules/async/dist/async.js:3183:26","    at checkRule (/var/www/market-cart/releases/source/20170717113701/api/shipping/index.js:138:22)","    at Object.<anonymous> (/var/www/market-cart/releases/source/20170717113701/api/shipping/index.js:157:11)","    at /var/www/market-cart/releases/source/20170717113701/node_modules/obcache/index.js:119:24","    at doNTCallback0 (node.js:419:9)","    at process._tickDomainCallback (node.js:389:13)"]}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZWawYjMkNKn0Li0x.sKiL-eapNzHzGcWsCmydgg?sso_token HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/cart?sso_token=5f2ce75f-c14e-41bf-9e7e-f8d936da2e0f HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/cart?sso_token=4449fa59-626c-45ce-a004-7f1bb5c46f31 HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/cart?sso_token=545ca229-8c3c-4743-b43d-feb537476b7b HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/cart?sso_token=b19274e4-4b8f-4582-99cf-694a9968b965 HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"cart":{"cart_id":"ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg","site_id":1,"customer_id":1107206245,"cart_items":[],"need_shipping":false,"count":0,"order_total":0,"final_price":0,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":0,"service_options":false,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":0,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"cart":{"cart_id":"ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA","site_id":1,"customer_id":1107206465,"cart_items":[],"need_shipping":false,"count":0,"order_total":0,"final_price":0,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":0,"service_options":false,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":0,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"cart":{"cart_id":"ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w","site_id":1,"customer_id":1107206475,"cart_items":[],"need_shipping":false,"count":0,"order_total":0,"final_price":0,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":0,"service_options":false,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":0,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"cart":{"cart_id":"ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ","site_id":1,"customer_id":1107206065,"cart_items":[],"need_shipping":false,"count":0,"order_total":0,"final_price":0,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":0,"service_options":false,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":0,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg?sso_token=5f2ce75f-c14e-41bf-9e7e-f8d936da2e0f HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"cart":{"cart_id":"ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg","site_id":1,"customer_id":1107206245,"cart_items":[],"need_shipping":false,"count":0,"order_total":0,"final_price":0,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":0,"service_options":false,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":0,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg?sso_token=5f2ce75f-c14e-41bf-9e7e-f8d936da2e0f HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA?sso_token=4449fa59-626c-45ce-a004-7f1bb5c46f31 HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ?sso_token=b19274e4-4b8f-4582-99cf-694a9968b965 HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w?sso_token=545ca229-8c3c-4743-b43d-feb537476b7b HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"cart":{"cart_id":"ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA","site_id":1,"customer_id":1107206465,"cart_items":[],"need_shipping":false,"count":0,"order_total":0,"final_price":0,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":0,"service_options":false,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":0,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA?sso_token=4449fa59-626c-45ce-a004-7f1bb5c46f31 HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"cart":{"cart_id":"ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w","site_id":1,"customer_id":1107206475,"cart_items":[],"need_shipping":false,"count":0,"order_total":0,"final_price":0,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":0,"service_options":false,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":0,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"cart":{"cart_id":"ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ","site_id":1,"customer_id":1107206065,"cart_items":[],"need_shipping":false,"count":0,"order_total":0,"final_price":0,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":0,"service_options":false,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":0,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ?sso_token=b19274e4-4b8f-4582-99cf-694a9968b965 HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w?sso_token=545ca229-8c3c-4743-b43d-feb537476b7b HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZWawYjMkNKn0Li0x.sKiL-eapNzHzGcWsCmydgg","site_id":1,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":4000,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"failure","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.130Z","is_pfa":0,"delivery_type":0,"need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288839767,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-24T10:54:00.130Z","2017-07-25T10:54:00.130Z"],"min_delivery_days":4,"max_delivery_days":5,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":4000,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":null,"total_other_taxes":[],"address":{"id":"1","title":"mr.","name":"TestName","address1":"Delhi","address2":"Delhi","city":"New Delhi","state":"Delhi","country":"India","pin":"110001","mobile":"5987654786","address_type":1,"merchant_id":null,"address":null,"pin_code":null,"updated_at":null,"type":null},"final_price_excl_shipping":4000,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg","site_id":1,"customer_id":1107206245,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":4000,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"failure","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.213Z","need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840200,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-22T10:54:00.213Z","2017-07-25T10:54:00.213Z"],"min_delivery_days":2,"max_delivery_days":5,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":4000,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":4000,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg?sso_token=5f2ce75f-c14e-41bf-9e7e-f8d936da2e0f HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA","site_id":1,"customer_id":1107206465,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":4000,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"failure","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.263Z","need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840239,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-22T10:54:00.263Z","2017-07-25T10:54:00.263Z"],"min_delivery_days":2,"max_delivery_days":5,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":4000,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":4000,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA?sso_token=4449fa59-626c-45ce-a004-7f1bb5c46f31 HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w","site_id":1,"customer_id":1107206475,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":4000,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"failure","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.285Z","need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840266,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-22T10:54:00.285Z","2017-07-25T10:54:00.285Z"],"min_delivery_days":2,"max_delivery_days":5,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":4000,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":4000,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w?sso_token=545ca229-8c3c-4743-b43d-feb537476b7b HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ","site_id":1,"customer_id":1107206065,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":4000,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"failure","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.290Z","need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840252,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-22T10:54:00.290Z","2017-07-25T10:54:00.290Z"],"min_delivery_days":2,"max_delivery_days":5,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":4000,"conv_fee":0,"paytm_discount":0,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":null,"total_other_taxes":[],"final_price_excl_shipping":4000,"promostatus":"failure","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ?sso_token=b19274e4-4b8f-4582-99cf-694a9968b965 HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg","site_id":1,"customer_id":1107206245,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":0,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_text":"","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"success","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.343Z","need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840200,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-22T10:54:00.343Z","2017-07-25T10:54:00.343Z"],"min_delivery_days":2,"max_delivery_days":5,"promocode":"TESTDISCOUNT","promotext":"{code} applied. Rs {amount} discount applied on your order.","paytm_discount":4000,"paytm_cashback":0,"paytm_goldback":0,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":0,"conv_fee":0,"paytm_discount":4000,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":null,"total_other_taxes":[],"paytm_goldback":null,"paytm_promocode":"TESTDISCOUNT","promotext":null,"final_price_excl_shipping":0,"promostatus":"success","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg?sso_token=5f2ce75f-c14e-41bf-9e7e-f8d936da2e0f HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA","site_id":1,"customer_id":1107206465,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":0,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_text":"","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"success","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.404Z","need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840239,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-22T10:54:00.404Z","2017-07-25T10:54:00.404Z"],"min_delivery_days":2,"max_delivery_days":5,"promocode":"TESTDISCOUNT","promotext":"{code} applied. Rs {amount} discount applied on your order.","paytm_discount":4000,"paytm_cashback":0,"paytm_goldback":0,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":0,"conv_fee":0,"paytm_discount":4000,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":null,"total_other_taxes":[],"paytm_goldback":null,"paytm_promocode":"TESTDISCOUNT","promotext":null,"final_price_excl_shipping":0,"promostatus":"success","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA?sso_token=4449fa59-626c-45ce-a004-7f1bb5c46f31 HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/checkout/ZWawYjMkNKn0Li0x.sKiL-eapNzHzGcWsCmydgg/placeorder?site_id=1&client=web&version=2&withdraw=1 HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ","site_id":1,"customer_id":1107206065,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":0,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_text":"","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"success","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.433Z","need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840252,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-22T10:54:00.433Z","2017-07-25T10:54:00.433Z"],"min_delivery_days":2,"max_delivery_days":5,"promocode":"TESTDISCOUNT","promotext":"{code} applied. Rs {amount} discount applied on your order.","paytm_discount":4000,"paytm_cashback":0,"paytm_goldback":0,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":0,"conv_fee":0,"paytm_discount":4000,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":null,"total_other_taxes":[],"paytm_goldback":null,"paytm_promocode":"TESTDISCOUNT","promotext":null,"final_price_excl_shipping":0,"promostatus":"success","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ?sso_token=b19274e4-4b8f-4582-99cf-694a9968b965 HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"error":"Invalid Request","status":{"result":"failure","message":{"title":"Error","message":"Invalid Request"}},"code":400,"stack":["Error: Invalid Request","    at validateParams (/var/www/market-cart/releases/source/20170717113701/api/fraud/rte.js:55:11)","    at Object.rteAPI.checkFraud (/var/www/market-cart/releases/source/20170717113701/api/fraud/rte.js:221:5)","    at Object.rteAPI.checkCart (/var/www/market-cart/releases/source/20170717113701/api/fraud/rte.js:208:10)","    at checkFraud (/var/www/market-cart/releases/source/20170717113701/api/checkout.js:910:10)","    at next (/var/www/market-cart/releases/source/20170717113701/lib/router.js:29:14)","    at splitSanity (/var/www/market-cart/releases/source/20170717113701/api/checkout.js:718:12)","    at next (/var/www/market-cart/releases/source/20170717113701/lib/router.js:29:14)","    at splitItems (/var/www/market-cart/releases/source/20170717113701/api/checkout.js:586:12)","    at next (/var/www/market-cart/releases/source/20170717113701/lib/router.js:29:14)","    at transformCart (/var/www/market-cart/releases/source/20170717113701/api/checkout.js:561:3)","    at next (/var/www/market-cart/releases/source/20170717113701/lib/router.js:29:14)","    at applyPromocode (/var/www/market-cart/releases/source/20170717113701/api/checkout.js:178:12)","    at next (/var/www/market-cart/releases/source/20170717113701/lib/router.js:29:14)","    at /var/www/market-cart/releases/source/20170717113701/api/checkout.js:169:5","    at /var/www/market-cart/releases/source/20170717113701/api/cart/shipping_client.js:576:11","    at Request._callback (/var/www/market-cart/releases/source/20170717113701/api/cart/shipping_client.js:301:7)","    at Request.self.callback (/var/www/market-cart/releases/source/20170717113701/node_modules/request/request.js:199:22)","    at emitTwo (events.js:87:13)","    at Request.emit (events.js:172:7)","    at Request.<anonymous> (/var/www/market-cart/releases/source/20170717113701/node_modules/request/request.js:1160:14)","    at emitOne (events.js:82:20)","    at Request.emit (events.js:169:7)","    at IncomingMessage.<anonymous> (/var/www/market-cart/releases/source/20170717113701/node_modules/request/request.js:1111:12)","    at emitNone (events.js:72:20)","    at IncomingMessage.emit (events.js:166:7)","    at endReadableNT (_stream_readable.js:905:12)","    at doNTCallback2 (node.js:441:9)","    at process._tickDomainCallback (node.js:396:17)"]}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/payment/status?id HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w","site_id":1,"customer_id":1107206475,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":0,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_text":"","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"success","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.471Z","need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840266,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-22T10:54:00.471Z","2017-07-25T10:54:00.471Z"],"min_delivery_days":2,"max_delivery_days":5,"promocode":"TESTDISCOUNT","promotext":"{code} applied. Rs {amount} discount applied on your order.","paytm_discount":4000,"paytm_cashback":0,"paytm_goldback":0,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":0,"conv_fee":0,"paytm_discount":4000,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":null,"total_other_taxes":[],"paytm_goldback":null,"paytm_promocode":"TESTDISCOUNT","promotext":null,"final_price_excl_shipping":0,"promostatus":"success","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] REQUEST : [POST https://cart-staging.paytm.com/v1/cart/ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w?sso_token=545ca229-8c3c-4743-b43d-feb537476b7b HTTP/1.1]</td></tr>
<tr><td>[ffClient] REQUEST : [POST http://fulfillment-staging.paytm.com/v1/order/null/notify?authtoken=fcgojFXOQCeq-QaImOWQxw HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg","site_id":1,"customer_id":1107206245,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":0,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_text":"","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"success","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.568Z","is_pfa":0,"delivery_type":0,"need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840200,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-24T10:54:00.568Z","2017-07-25T10:54:00.568Z"],"min_delivery_days":4,"max_delivery_days":5,"promocode":"TESTDISCOUNT","promotext":"{code} applied. Rs {amount} discount applied on your order.","paytm_discount":4000,"paytm_cashback":0,"paytm_goldback":0,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":0,"conv_fee":0,"paytm_discount":4000,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":"https://cart-staging.paytm.com/v1/checkout/ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg/placeorder","total_other_taxes":[],"paytm_goldback":null,"address":{"id":"1","title":"mr.","name":"TestName","address1":"Delhi","address2":"Delhi","city":"New Delhi","state":"Delhi","country":"India","pin":"110001","mobile":"5987654611","address_type":1,"merchant_id":null,"address":null,"pin_code":null,"updated_at":null,"type":null},"paytm_promocode":"TESTDISCOUNT","promotext":null,"final_price_excl_shipping":0,"promostatus":"success","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA","site_id":1,"customer_id":1107206465,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":0,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_text":"","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"success","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.626Z","is_pfa":0,"delivery_type":0,"need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840239,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-24T10:54:00.626Z","2017-07-25T10:54:00.626Z"],"min_delivery_days":4,"max_delivery_days":5,"promocode":"TESTDISCOUNT","promotext":"{code} applied. Rs {amount} discount applied on your order.","paytm_discount":4000,"paytm_cashback":0,"paytm_goldback":0,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":0,"conv_fee":0,"paytm_discount":4000,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":"https://cart-staging.paytm.com/v1/checkout/ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA/placeorder","total_other_taxes":[],"paytm_goldback":null,"address":{"id":"1","title":"mr.","name":"TestName","address1":"Delhi","address2":"Delhi","city":"New Delhi","state":"Delhi","country":"India","pin":"110001","mobile":"5987654553","address_type":1,"merchant_id":null,"address":null,"pin_code":null,"updated_at":null,"type":null},"paytm_promocode":"TESTDISCOUNT","promotext":null,"final_price_excl_shipping":0,"promostatus":"success","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ","site_id":1,"customer_id":1107206065,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":0,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_text":"","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"success","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.658Z","is_pfa":0,"delivery_type":0,"need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840252,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-24T10:54:00.658Z","2017-07-25T10:54:00.658Z"],"min_delivery_days":4,"max_delivery_days":5,"promocode":"TESTDISCOUNT","promotext":"{code} applied. Rs {amount} discount applied on your order.","paytm_discount":4000,"paytm_cashback":0,"paytm_goldback":0,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":0,"conv_fee":0,"paytm_discount":4000,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":"https://cart-staging.paytm.com/v1/checkout/ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ/placeorder","total_other_taxes":[],"paytm_goldback":null,"address":{"id":"1","title":"mr.","name":"TestName","address1":"Delhi","address2":"Delhi","city":"New Delhi","state":"Delhi","country":"India","pin":"110001","mobile":"5987654560","address_type":1,"merchant_id":null,"address":null,"pin_code":null,"updated_at":null,"type":null},"paytm_promocode":"TESTDISCOUNT","promotext":null,"final_price_excl_shipping":0,"promostatus":"success","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"status":{"result":"success","message":{"title":"success","message":"operation successfully completed"},"code":200},"cart":{"cart_id":"ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w","site_id":1,"customer_id":1107206475,"cart_items":[{"item_id":"10861796pid","product_id":10861796,"parent_id":null,"vertical_label":"Computer Components","vertical_id":42,"quantity":1,"mrp":4000,"price":4000,"selling_price":4000,"conv_fee":0,"conv_fee_map":{},"discounted_price":0,"shipping_charges":0,"name":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","title":"SAasAXDc#@!$%$&*()(*&^%$adfdf_Test Product","short_description":{},"url":"https://catalog-staging.paytm.com/v1/mobile/product/10861796","newurl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","seourl":"https://catalog-staging.paytm.com/v1/p/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","image_url":"https://assetscdn.paytm.com/images/catalog/product/C/CO/COMSAASAXDC-ADFMERC57206CD2C267D/2.jpg","merchant_name":"rrr","merchant_id":57206,"brand_id":168642,"brand":"Test Product","offer_text":"","offer_url":"/v1/promosearch/product/10861796/offers?parent_id=0&price=4000&merchant_id=57206&brand_id=168642","promostatus":"success","readonly":false,"available_quantity":null,"estimated_delivery":"2017-07-25T10:54:00.723Z","is_pfa":0,"delivery_type":0,"need_shipping":true,"attributes_dim_values":{},"categoryMap":[{"url_key":"merchant-training","vat_restrict":1,"id":36140,"name":"Merchant Training","parent_id":null},{"url_key":"merchant-training/home-kitchen","vat_restrict":1,"id":36143,"name":"Home & Kitchen","parent_id":36140}],"ga_key":"/cart/merchant-training/home-kitchen/saasaxdc-adfdf_test-product-COMSAASAXDC-ADFMERC57206CD2C267D","display_sequence":1500288840266,"tags":[],"attributes":{},"price_incl_taxes":[],"other_taxes":[],"estimated_delivery_range":["2017-07-24T10:54:00.723Z","2017-07-25T10:54:00.723Z"],"min_delivery_days":4,"max_delivery_days":5,"promocode":"TESTDISCOUNT","promotext":"{code} applied. Rs {amount} discount applied on your order.","paytm_discount":4000,"paytm_cashback":0,"paytm_goldback":0,"total_price":4000,"aggregate_item_price":4000}],"need_shipping":true,"count":1,"order_total":4000,"final_price":0,"conv_fee":0,"paytm_discount":4000,"paytm_cashback":0,"shipping_charges":0,"aggregate_item_price":4000,"place_order_url":"https://cart-staging.paytm.com/v1/checkout/ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w/placeorder","total_other_taxes":[],"paytm_goldback":null,"address":{"id":"1","title":"mr.","name":"TestName","address1":"Delhi","address2":"Delhi","city":"New Delhi","state":"Delhi","country":"India","pin":"110001","mobile":"5987654504","address_type":1,"merchant_id":null,"address":null,"pin_code":null,"updated_at":null,"type":null},"paytm_promocode":"TESTDISCOUNT","promotext":null,"final_price_excl_shipping":0,"promostatus":"success","product_promise_logo_url":"https://assetscdn.paytm.com/images/paytm_promise_badge.png"}}]</td></tr>
<tr><td>[ffClient] RESPONSE : [{"error":"Order Not Found","stack":["Error: Order Not Found","    at /var/www/market-fulfillment/releases/source/20170716153004/routes/order.js:2034:17","    at /var/www/market-fulfillment/releases/source/20170716153004/node_modules/market-order/order/collection.js:598:11","    at fetchMetaData (/var/www/market-fulfillment/releases/source/20170716153004/node_modules/market-order/order/fetchMetaData.js:16:12)","    at Query.done [as _callback] (/var/www/market-fulfillment/releases/source/20170716153004/node_modules/market-order/order/collection.js:596:9)","    at Query.Sequence.end (/var/www/market-fulfillment/releases/source/20170716153004/node_modules/market-db/node_modules/mysequel/node_modules/mysql/lib/protocol/sequences/Sequence.js:86:24)","    at Query._handleFinalResultPacket (/var/www/market-fulfillment/releases/source/20170716153004/node_modules/market-db/node_modules/mysequel/node_modules/mysql/lib/protocol/sequences/Query.js:137:8)","    at Query.EofPacket (/var/www/market-fulfillment/releases/source/20170716153004/node_modules/market-db/node_modules/mysequel/node_modules/mysql/lib/protocol/sequences/Query.js:121:8)","    at Protocol._parsePacket (/var/www/market-fulfillment/releases/source/20170716153004/node_modules/market-db/node_modules/mysequel/node_modules/mysql/lib/protocol/Protocol.js:280:23)","    at Parser.write (/var/www/market-fulfillment/releases/source/20170716153004/node_modules/market-db/node_modules/mysequel/node_modules/mysql/lib/protocol/Parser.js:75:12)","    at Protocol.write (/var/www/market-fulfillment/releases/source/20170716153004/node_modules/market-db/node_modules/mysequel/node_modules/mysql/lib/protocol/Protocol.js:39:16)","    at Socket.<anonymous> (/var/www/market-fulfillment/releases/source/20170716153004/node_modules/market-db/node_modules/mysequel/node_modules/mysql/lib/Connection.js:103:28)","    at Socket.EventEmitter.emit (events.js:95:17)","    at Socket.<anonymous> (_stream_readable.js:746:14)","    at Socket.EventEmitter.emit (events.js:92:17)","    at emitReadable_ (_stream_readable.js:408:10)","    at emitReadable (_stream_readable.js:404:5)","    at readableAddChunk (_stream_readable.js:165:9)","    at Socket.Readable.push (_stream_readable.js:127:10)","    at TCP.onread (net.js:526:21)"]}]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/myorders/null?sso_token&child_site_id=1&client=web&version=2?site_id=1&client=web&version=2 HTTP/1.1]</td></tr>
<tr><td>[cartClient] RESPONSE : [{"error":"User not logged in.","status":{"result":"failure","message":{"title":"Login required","message":"User not logged in."}},"code":401,"errorCode":"MO_VI_4000","stack":["User not logged in.","    at Object.validate [as handle] (/var/www/market-cart/releases/source/20170717113701/routes/v1/mobile/myorders/myorders.js:81:12)","    at next_layer (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/route.js:103:13)","    at Object.cart.user [as handle] (/var/www/market-cart/releases/source/20170717113701/routes/v1/mobile/cart.js:43:12)","    at next_layer (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/route.js:103:13)","    at Route.dispatch (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/route.js:107:5)","    at /var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:213:24","    at param (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:305:14)","    at param (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:321:14)","    at Function.proto.process_params (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:365:3)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:207:19)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)","    at next (/var/www/market-cart/releases/source/20170717113701/node_modules/express/lib/router/index.js:182:38)"]}]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/checkout/ZxPhEGsjNdmyQy0x.9J897tFzTmXDsYvzwl9AYg/placeorder?sso_token=5f2ce75f-c14e-41bf-9e7e-f8d936da2e0f&site_id=1&client=web&version=2&withdraw=1 HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/checkout/ZxPhEGsjNd-wQy0x.EK7J7Lgv8fIa6CPr3dGOKA/placeorder?sso_token=4449fa59-626c-45ce-a004-7f1bb5c46f31&site_id=1&client=web&version=2&withdraw=1 HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/checkout/ZxPhEGsjNduwQy0x.hos9KJzm6HGpA_QHWOHZFQ/placeorder?sso_token=b19274e4-4b8f-4582-99cf-694a9968b965&site_id=1&client=web&version=2&withdraw=1 HTTP/1.1]</td></tr>
<tr><td>[cartClient] REQUEST : [GET https://cart-staging.paytm.com/v1/checkout/ZxPhEGsjNd-xQy0x.WMd_hMjicPp1z6TXAG8R2w/placeorder?sso_token=545ca229-8c3c-4743-b43d-feb537476b7b&site_id=1&client=web&version=2&withdraw=1 HTTP/1.1]</td></tr>
</table>