<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:49:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:49:25</td>   <td>8775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:49:33</td>   <td>16920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:49:45</td>   <td>29181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:49:53</td>   <td>37304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:48:47</td>   <td>-29655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:49:16</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:49:25</td>   <td>8776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:49:33</td>   <td>16921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:49:45</td>   <td>29181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>17/09/25 12:48:42</td>   <td>-33958</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>17/09/25 12:48:47</td>   <td>-29655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">test1</td> 
  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>17/09/25 12:49:16</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">test1</td> 
  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>17/09/25 12:49:25</td>   <td>8776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">test1</td> 
  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>17/09/25 12:49:33</td>   <td>16922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">test1</td> 
  <td>main@225472281</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>17/09/25 12:49:45</td>   <td>29181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.test1(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.paytm.cartAutomationSuite.Refund.RequestRefundTest@7ff95560]">test1</td> 
  <td>main@225472281</td>   <td></td> </tr>
</table>
