<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AccessCartWithoutLogin</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>applyPromo</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addNegativeQuantityProductInCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addNegativeProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addDummyProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getSSoToken</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductinBlankCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductWithoutLoginInCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addZeroQuantityProductInCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductInInvalidCartHavingNoAuthentication</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cancelPromo</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addAlreadyAddedProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addIndefiniteProductInCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductHavingNegativePriceinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>demo</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addBlankProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductHavingInfinitePriceinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addNullProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductinCartWIthConfigurationPrice</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductinInvalidCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removingRandomProduct</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductinCartWIthOutConfigurationPrice</td>
<td>AddProductTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addProductinCart</td>
<td>AddProductTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
