<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>AddProductTest</td><td>AddProductApiTest.addNullProductinCart()[pri:0, instance:com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest@4387b79e]<br/></td></tr>
</table>
