<h2>Methods that were not run</h2><table>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addProductinCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.removingRandomProduct</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addProductinCartWIthOutConfigurationPrice</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addProductHavingInfinitePriceinCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addProductinInvalidCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addBlankProductinCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addProductHavingNegativePriceinCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addIndefiniteProductInCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.demo</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addZeroQuantityProductInCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.cancelPromo</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addAlreadyAddedProductinCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addProductInInvalidCartHavingNoAuthentication</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addProductWithoutLoginInCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addProductinCartWIthConfigurationPrice</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addProductinBlankCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addDummyProductinCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addNegativeQuantityProductInCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.getSSoToken</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.applyPromo</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.AccessCartWithoutLogin</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest.addNegativeProductinCart</td></tr>
</table>