<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c6faa">  <td>17/06/19 11:05:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddProductApiTest.addNullProductinCart()[pri:0, instance:com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest@4387b79e]">addNullProductinCart</td> 
  <td>main@315932542</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>17/06/19 11:05:33</td>   <td>7232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest@4387b79e]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@315932542</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>17/06/19 11:05:26</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest@4387b79e]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@315932542</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>17/06/19 11:05:23</td>   <td>-2394</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.paytm.refundAutomationSuite.cartOperations.AddProductApiTest@4387b79e]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@315932542</td>   <td></td> </tr>
</table>
