<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.paytm.refundAutomationSuite.Refund.RequestRefundTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundWhenRefundValueisTooSmall</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundWithOutOrderId</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestpartialRefundofItem1</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>refundWithNANFFId</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>RequestRefundWithOutFfId</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>RequestRefundWithInvalidFulfillmentId</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundForNonRefundableOrder</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundofItem2whenItem1AlreadyRefunded</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundInCaseOfFailedOrder</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundWithCancellationCharges</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>RequestRefundWithInvalidOrderId</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundWhenRefundAlreadyCancelled</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundWhenRefundInProgress</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundforDigitalProduct</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundInCaseOfPendingOrder</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundWhenRefundAlreadyProcessed</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>refundWithNANOrderId</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>simpleRequestRefund</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestRefundWhenFFIdNotGenerated</td>
<td>RequestRefundTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
