<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>RequestRefundTest</td><td>RequestRefundTest.simpleRequestRefund()[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@d83da2e]<br/></td></tr>
</table>
