<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Default suite]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abee69">  <td>17/07/19 16:34:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@d83da2e]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@247944893</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>17/07/19 16:34:36</td>   <td>2203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@d83da2e]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@247944893</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>17/07/19 16:34:36</td>   <td>2203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequestRefundTest.simpleRequestRefund()[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@d83da2e]">simpleRequestRefund</td> 
  <td>main@247944893</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>17/07/19 16:34:36</td>   <td>2712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.Refund.RequestRefundTest@d83da2e]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@247944893</td>   <td></td> </tr>
</table>
