<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithDigitalProductId</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutAfterAddingNegativeProductId</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithInfiniteCartItems</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckOutWhenProductNotAvailable</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithNoIteminCart</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithPinAndStateMismatch</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutofDigitalProductWithOutAddress</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithoutSettingAddress</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithPromoCode</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithOnlyPin</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithRedundantItems</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>simpleCheckout</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutWithNonServicableAddress</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutAfterAddingInvalidProductId</td>
<td>Physical Checkout </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>SpringTestContext </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
