<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Physical Checkout</td><td>NormalCheckoutTest.simpleCheckout()[pri:0, instance:com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest@a4102b8]<br/></td></tr>
</table>
