<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efa5e3">  <td>17/08/03 12:57:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest@a4102b8]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1014166943</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>17/08/03 12:57:04</td>   <td>2304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest@a4102b8]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@1014166943</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>17/08/03 12:57:04</td>   <td>2305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NormalCheckoutTest.simpleCheckout()[pri:0, instance:com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest@a4102b8]">simpleCheckout</td> 
  <td>main@1014166943</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>17/08/03 12:57:09</td>   <td>7448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest@a4102b8]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@1014166943</td>   <td></td> </tr>
</table>
