<h2>Methods that were not run</h2><table>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutofDigitalProductWithOutAddress</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutWithDigitalProductId</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutAfterAddingNegativeProductId</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckOutWhenProductNotAvailable</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutWithRedundantItems</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutWithInfiniteCartItems</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutWithNoIteminCart</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutWithPinAndStateMismatch</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutAfterAddingInvalidProductId</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutWithNonServicableAddress</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutWithoutSettingAddress</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutWithOnlyPin</td></tr>
<tr><td>com.paytm.refundAutomationSuite.cartCheckOut.NormalCheckoutTest.CheckoutWithPromoCode</td></tr>
</table>